/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

#propertyGrid .btn-icon i {
  width: 15px;
  height: 15px;
}

#propertyGrid_filter {
  float: left;
}

#propertyGrid_filter input {
  margin-left: 0;
  width: 300px;
}

.m-r-5 {
  margin-right: 5px;
}

.pull-left { float: left !important;}
.pull-right {float: right !important}

.content-type-element { display:none }


#content-container { margin-bottom: 10px}
#content-container p, #content-container ul {margin-bottom:0}
#content-container .item h4 { margin:10px 0 10px !important}
#content-container .item img { width: 100%}
#content-container .item:hover {
    border: 1px solid #eee;
    cursor: pointer;
    border-radius: 3px; 
}

.item-wrapper {
  margin-bottom: 10px;
}

.item-wrapper .item-menu {
  margin:10px 0 5px;
}

.item-wrapper .hide {
  display: none;
}


.enumeration-container {
  padding: 20px 0;
}

.dataTables_filter label {
  float: left;
}

.dataTables_filter input {
  margin: 0 !important
}

.m-update-btn button {
  display: none;
}

.fs-12 {
  font-size: 12px;
}

@media only screen and (max-width: 600px) 
{

  #propertyGrid_filter input {
    width: 100%;
  }

  #propertyForm [type="submit"] {
    display: none;
  }

  .m-update-btn button {
    display: block;
  }

}