/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

#propertyGrid .btn-icon i {
  width: 15px;
  height: 15px;
}

#propertyGrid_filter {
  float: left;
}

#propertyGrid_filter input {
  margin-left: 0;
  width: 300px;
}

.m-r-5 {
  margin-right: 5px;
}

.pull-left { float: left !important;}
.pull-right {float: right !important}

#content-container { margin-bottom: 10px}
#content-container p, #content-container ul {margin-bottom:0}
#content-container .item h4 { margin:10px 0 10px !important}
#content-container .item img { width: 100%}
#content-container .item:hover {
    border: 1px solid #eee;
    cursor: pointer;
    border-radius: 3px; 
}

.item-wrapper {
  margin-bottom: 10px;
}

.item-wrapper .item-menu {
  margin:10px 0 5px;
}

.item-wrapper .hide {
  display: none;
}


.enumeration-container {
  padding: 20px 0;
}

.dataTables_filter label {
  float: left;
}

.dataTables_filter input {
  margin: 0 !important
}

.m-update-btn button {
  display: none;
}

.fs-12 {
  font-size: 12px;
}

@media only screen and (max-width: 600px) 
{

  #propertyGrid_filter input {
    width: 100%;
  }

  #propertyForm [type="submit"] {
    display: none;
  }

  .m-update-btn button {
    display: block;
  }

  
  .thumbnails-2 {
    height: 200px !important;
  }

  .thumbnails-3 {
    height: 100px !important;
  }
}

.column-1 {
  float: left;
  width: 100%;
  padding: 5px;
}

.column-2 {
  float: left;
  width: 49.99%;
  padding: 5px;
}

.column-3 {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.column-4 {
  float: left;
  width: 32.80%;
  padding: 5px;
}

.thumbnails-1 {
  height: auto;
}

.thumbnails-2 {
  height: 250px;
}

.thumbnails-3 {
  height: 200px;
}

.thumbnails-4 {
  height: 150px;
}

.box-shadow {
  box-shadow: 0 -1px 19px 0 rgb(38 42 76 / 8%);
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(253 253 253 / var(--tw-bg-opacity));
}
.rounded {
  border-radius: 0.25rem;
}
.overflow-hidden {
  overflow: hidden;
}



.overflow-hidden {
  overflow: hidden;
}
.relative {
  position: relative;
}

.duration-500 {
  transition-duration: 500ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.object-center {
  -o-object-position: center;
  /* object-position: center; */
}
.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}
.cursor-pointer {
  cursor: pointer;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}

.container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}